<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KromelProgram.Properties.Settings.KromelDBConnectionString"
            connectionString="Data Source=DELLM6800\SQLEXPRESSKROMEL;Initial Catalog=KromelDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>